@model WorldLiteratureLib.Models.User
<div>
    <form class="card">
        <img @Model.Photo>
    </form>
    <ul class="list-group">
        <li>@Model.Email</li>
        <li>@Model.UserName</li>
        <li>@Model.WebPage</li>
        <li>@Model.PhoneNumber</li>
    </ul>
</div>